<div class="k-content"> 
    <div id="admin-course-upload" class="form-horizontal well">
          <div >
            <label class="control-label" for="course-upload-file">GPX File:</label>
                    <input name="files" style="max-width: 300px;" id="course-upload-file"  type="file" />
          </div>
<!--          <div id="admin-course-upload-actions">
            <div class="form-actions">
                <input type="submit" value="Upload" class="btn btn-success" />
            </div>
          </div>-->
     </div>
   </div>
   