<div id="admin-view-nav">
    <div class="btn-toolbar">
        <div class="btn-group btn-group-vertical btn-group-admin-nav">
            <a class="btn btn-primary" href="#/admin/events" id="admin-nav-btn-events"><i class="fui-calendar-solid"></i>Events<span data-bind="click: addEvent" id="btn-admin-nav-add-event" class="pull-right  btn btn-warning "><i class="fui-plus"></i><span class="my-collapse"> Add New</span></span></a>
            <a class="btn btn-primary" href="#/admin/participants" id="admin-nav-btn-participants"><i class="fui-user"></i>Runners/Teams</a>
            <a class="btn btn-primary" href="#/admin/trackers" id="admin-nav-btn-trackers"><i class="fui-radio-checked"></i>Trackers</a>
            <a class="btn btn-primary" href="#/admin/simcards" id="admin-nav-btn-simcards"><i class="fui-checkbox-unchecked"></i>Sim Cards</a>
            <a class="btn btn-primary" href="#/admin/settings" id="admin-nav-btn-settings"><i class="fui-gear"></i>Settings</a>
        </div>
    </div>
</div>  
